#menu {
  background-color: #eeeeee;
  width: 100%;
  min-height: 70rem;
  padding-top: 2rem;
}

#menu h1 {
  text-align: center;
  font-size: 2.5rem;
}

.menu-container {
  width: 90%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}
