#about {
  height: 72rem;
}

.about-section-container {
  width: 20rem;
  height: 12rem;
  margin: 2.5rem auto;
  background-color: #faf9f6;
}

.about-footer-container {
  background-color: #aeb66f;
  border-radius: 10px;
  color: #faf9f6;
  padding: 15px;
}

.picture-text {
  text-align: center;
  padding-bottom: 3rem;
}

h1 {
  padding-bottom: 1rem;
  font-size: 1.9rem;
}

p {
  font-size: 1.1rem;
}
