#about {
  height: 88rem;
}

.about-section-container {
  margin: 2.5rem;
}

.about-footer-container {
  background-color: #aeb66f;
  border-radius: 10px;
  color: #faf9f6;
  padding: 15px;
}

.picture-text {
  text-align: center;
  padding-bottom: 3rem;
}

.about-footer-title {
  padding-bottom: 1rem;
  font-size: 1.7rem;
  line-height: 1.3;
}

.about-footer-body, .about-footer-body3  {
  font-size: 1rem;
  line-height: 1.5;
}

.about-footer-body2 {
  margin: 0.6rem 0;
  font-size: 1rem;
  line-height: 1.5;
}

@media (min-width: 650px) {
  #about {
    height: 88rem;
  }

  .about-section-container {
    margin: 3rem 10rem 0rem 10rem;
  }

  .about-footer-title {
    padding-bottom: 1rem;
    font-size: 1.8rem;
  }
  
  .about-footer-body, .about-footer-body2, .about-footer-body3 {
    font-size: 1.1rem;
  }

}

@media (min-width: 950px) {
  #about {
    height: 41rem;
  }

  .about-section-container {
    margin: 3rem auto;
  }

  .sliders-container {
    margin: auto;
    width: 750px;
    display: flex;
    justify-content: space-between;
  }

  .about-footer-container {
    margin-top: 5rem;
    width: 800px;
    margin: 5rem auto;
  }

  .about-footer-title {
    padding-bottom: 0.6rem;
    font-size: 1.9rem;
  }
  
  .about-footer-body, .about-footer-body2, .about-footer-body3 {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
