.home-container {
  height: calc(100vh - 70px);
  background-image: url("../assets/nepali-food.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: changeBackground 120s infinite ease-in-out;
}

/* The animation code */
@keyframes changeBackground {
  10% {
    background-image: url("../assets/momo.jpg");
  }
  30% {
    background-image: url("../assets/pork.jpeg");
  }
  50% {
    background-image: url("../assets/snacks.jpg");
  }
  70% {
    background-image: url("../assets/julebi.jpeg");
  }
  90% {
    background-image: url("../assets/sekuwa.jpeg");
  }
}
